<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sd.lib.context">

    <application>
        <provider
            android:name="com.sd.lib.context.ContextContentProvider"
            android:authorities="${applicationId}.f-c-provider-lib-context"
            android:exported="false" />
    </application>

</manifest>
