<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sd.lib.context">

    <application>
        <provider
            android:name="com.sd.lib.context.ContextProvider"
            android:authorities="${applicationId}.context-provider"
            android:exported="false"
            android:multiprocess="true" />
    </application>

</manifest>
